<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.estrelladelsur.estrelladelsur">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <permission android:name="com.estrelladelsur.estrelladelsur.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.estrelladelsur.estrelladelsur.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAilxuEgnsdPm7ByGZ6dTNzlem9TaQg1Bs" />

        <receiver
            android:name=".navegador.usuario.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.estrelladelsur.estrelladelsur" />
            </intent-filter>
        </receiver>

        <service android:name=".navegador.usuario.GCMIntentService" />

        <!--SERVICE CONEXION INTERNET-->
        <receiver
            android:name=".auxiliar.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!--SPLASH USUARIO-->
        <activity android:name=".navegador.usuario.SplashUsuario">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--NAVIGATION USUARIO-->
        <activity android:name=".navegador.usuario.NavigationUsuario"></activity>
        <!--ARTICULO USUARIO-->
        <activity
            android:name=".institucion.usuario.ArticuloUsuario"
            android:label="@string/institucion.articulo.usuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.usuario.NavigationUsuario" />
        </activity>
        <!--COMISION USUARIO-->
        <activity
            android:name=".institucion.usuario.ComisionUsuario"
            android:label="@string/institucion.comision.usuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.usuario.NavigationUsuario" />
        </activity>
        <!--DIRECCION USUARIO-->
        <activity
            android:name=".institucion.usuario.DireccionUsuario"
            android:label="@string/institucion.direccion.usuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.usuario.NavigationUsuario" />
        </activity>
        <!--LIGA ADEFUL USUARIO-->
        <activity android:name=".liga.usuario.tabs_user.TabsAdefulUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.usuario.NavigationUsuario" />
        </activity>
        <activity android:name=".liga.usuario.tabs_user.TabsLifubaUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.usuario.NavigationUsuario" />
        </activity>
        <!--MAPA ADEFUL USUARIO-->
        <activity android:name=".liga.usuario.adeful.MapaCanchaUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <!--MAPA ADEFUL USUARIO-->
        <activity android:name=".liga.usuario.lifuba.MapaCanchaUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsLifubaUsuario" />
        </activity>
        <!--FIXTURE USUARIO-->
        <activity android:name=".miequipo.usuario.tabs_user.TabsFixtureUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <!--JUGADOR USUARIO-->
        <activity android:name=".miequipo.usuario.tabs_user.JugadorUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <!--ENTRENAMIENTO USUARIO-->
        <activity android:name=".miequipo.usuario.tabs_user.TabsEntrenamientoUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <!--SANCION USUARIO-->
        <activity android:name=".miequipo.usuario.tabs_user.TabsSancionUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <!--NOTIFICACION USUARIO-->
        <activity android:name=".social.usuario.NotificacionUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <!--NOTICIA USUARIO-->
        <activity android:name=".social.usuario.NoticiaUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <!--FOTO USUARIO-->
        <activity android:name=".social.usuario.FotoUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <!--PUBLICIDAD USUARIO-->
        <activity android:name=".social.usuario.PublicidadUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.usuario.tabs_user.TabsAdefulUsuario" />
        </activity>
        <activity android:name=".navegador.administrador.SplashAdm">
        </activity>
        <!--ADEFUL ADMINISTRADOR-->
        <activity android:name=".navegador.administrador.Navigation"></activity>
        <!--SPLASH ADMINISTRADOR-->
        <!--ARTICULO ADMINISTRADOR-->
        <activity
            android:name=".institucion.administrador.tabs_adm.TabsArticulo"
            android:label="@string/institucion.articulo.adeful">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--COMISION ADMINISTRADOR-->
        <activity android:name=".institucion.administrador.tabs_adm.TabsComision">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--DIRECCION ADMINISTRADOR-->
        <activity android:name=".institucion.administrador.tabs_adm.TabsDireccion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--LIGA ADEFUL ADMINISTRADOR-->
        <activity android:name=".liga.administrador.tabs_adm.TabsAdeful">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--LIGA LIFUBA ADMINISTRADOR-->
        <activity android:name=".liga.administrador.tabs_adm.TabsLifuba">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--MAPA ADEFUL ADMINISTRADOR-->
        <activity android:name=".liga.administrador.adeful.MapaCanchaAdeful">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.administrador.tabs_adm.TabsAdeful" />
        </activity>
        <!--MAPA LIFUBA ADMINISTRADOR-->
        <activity android:name=".liga.administrador.lifuba.MapaCanchaLifuba">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".liga.administrador.tabs_adm.TabsLifuba" />
        </activity>
        <!--FIXTURE ADMINISTRADOR-->
        <activity android:name=".miequipo.administrador.tabs_adm.TabsFixture">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--RESULTADO ADMINISTRADOR-->
        <activity android:name=".miequipo.administrador.tabs_adm.TabsResultado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--JUGADOR ADMINISTRADOR-->
        <activity android:name=".miequipo.administrador.tabs_general.TabsJugador">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--ENTRENAMIENTO ADMINISTRADOR-->
        <activity android:name=".miequipo.administrador.tabs_general.TabsEntrenamiento">
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--SANCION ADMINISTRADOR-->
        <activity android:name=".miequipo.administrador.tabs_adm.TabsSancion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--NOTIFICACION ADMINISTRADOR-->
        <activity android:name=".social.administrador.tabs.TabsNotificacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--NOTICIA ADMINISTRADOR-->
        <activity android:name=".social.administrador.tabs.TabsNoticia">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--FOTO ADMINISTRADOR-->
        <activity android:name=".social.administrador.tabs.TabsFoto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--PUBLICIDAD ADMINISTRADOR-->
        <activity android:name=".social.administrador.tabs.TabsPublicidad">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--USUARIO ADMINISTRADOR-->
        <activity android:name=".permiso.TabsUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
        <!--PERMISO ADMINISTRADOR-->
        <activity android:name=".permiso.TabsPermiso">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>

        <!--LOGIN-->
        <activity
            android:name=".login.Login"
            android:theme="@style/Theme.AppCompat.Dialog">
          <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navegador.administrador.Navigation" />
        </activity>
   </application>
</manifest>
